<form action="/process" method="POST">

    <label for="firstName">First Name</label>
    <input type="firsName" name="firstName"> <br>

    <label for="lastName">Last Name</label>
    <input type="LastName" name="lastName"> <br>

    <label for="phoneNo">Phone No</label>
    <input type="PhoneNo" name="phoneNo"> <br>

    <label for="message">Message</label>
    <textarea name="message" id="message"></textarea>

    <button type="submit" value="Contact Us">
        
</form>